<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>

</head>

<header>
    <% include partials/header %>
</header>

<body>

<!-- Custom CSS -->
<style>
    body {
        padding-top: 70px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
</style>


<!-- Page Content -->
<div class="container-fluid">

    <!--<div class="row">-->
        <!--<div class="col-lg-12 text-center">-->
            <!--<h1><i>ai</i><b>Cubes</b></h1>-->
        <!--</div>-->
    <!--</div>-->
    <!-- /.row -->

</div>

<!-- Start Update Modal for Device -->
<div class="tab-pane active" id="crudUpdate">
    <div class="modal fade" id="modal-container-2" role="dialog"
         aria-labelledby="myModalLabel_1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        ×
                    </button>
                    <h4 class="modal-title" id="myModalLabel_1">
                        Update record
                    </h4>
                </div>
                <div class="modal-body">
                    <form id="updateFormD" role="form" method="" action="">

                        <div class="form-group">
                            <label for="userId">Device ID</label><input type="text"
                                                                  class="form-control" required
                                                                  name="mcId" readonly/>
                        </div>

                        <div class="form-group">
                            <label for="name">Display Name</label><input type="text"
                                                                       class="form-control"
                                                                       required
                                                                       name="name"/>
                        </div>

                        <div class="form-group">
                            <label for="email">Desc</label><input type="text"
                                                                       class="form-control"
                                                                       required
                                                                       name="desc" readonly/>
                            <!--placeholder="Email address" -->
                        </div>

                        <div class="form-group">
                            <label for="action">Action</label><input type="text"
                            class="form-control"
                            required name="action" readonly/>




                        </div>

                        <div class="form-group">
                            <label for="contact">Value</label><input type="text"
                                                                       class="form-control"
                                                                       required name="value" readonly/>
                        </div>


                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Close
                            </button>
                            <button id="updateButton" type="submit" class="btn btn-primary">
                                Update
                                changes
                            </button>
                        </div>
                    </form>
                </div>
                <!--  -->
            </div>
        </div>
        <!-- End Update Modal -->

    </div>

</div>
<!-- End Modal -->



<!-- Start Update Modal for Device -->
<div class="tab-pane active" id="crudUpdate2">
    <div class="modal fade" id="modal-container-3" role="dialog"
         aria-labelledby="myModalLabel_1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        ×
                    </button>
                    <h4 class="modal-title" id="myModalLabel_1">
                        Update record
                    </h4>
                </div>
                <div class="modal-body">
                    <form id="updateFormC" role="form" method="" action="">

                        <div class="form-group">
                            <label for="userId">Device ID</label><input type="text"
                                                                        class="form-control" required
                                                                        name="mcId" readonly/>
                        </div>

                        <div class="form-group">
                            <label for="compId">Component ID</label><input type="text"
                                                                        class="form-control" required
                                                                        name="compId" readonly/>
                        </div>


                        <div class="form-group">
                            <label for="name">Display Name</label><input type="text"
                                                                         class="form-control"
                                                                         required
                                                                         name="name"/>
                        </div>



                        <label for="visible">Visible</label>
                        <select id="visible" name="visible"
                                class="form-control dropdown-toggle">
                            <option value="y">Yes</option>
                            <option value="n">No</option>
                        </select>

                        <label for="category">Display Category or Group</label>
                        <select id="category" name="category"
                                class="form-control dropdown-toggle">
                            <option value="all">All</option>
                            <option value="sensors">Sensors</option>
                            <option value="digital_switch">Digital switch</option>
                            <option value="lights">Lights</option>
                            <option value="weather">Weather</option>
                            <option value="analog_switch">Analog switch</option>
                            <option value="analog_sensors">Analog sensors</option>
                            <option value="security">Security</option>
                            <option value="safety">Safety</option>
                            <option value="room1">Room 1</option>
                            <option value="room2">Room 2</option>

                        </select>

                        <div class="form-group">
                            <label for="email">Desc</label><input type="text"
                                                                  class="form-control"
                                                                  required
                                                                  name="desc" readonly/>
                            <!--placeholder="Email address" -->
                        </div>

                        <div class="form-group">
                            <label for="action">Action</label><input type="text"
                                                                     class="form-control"
                                                                     required name="action" readonly/>


                        </div>

                        <div class="form-group">
                            <label for="contact">Value</label><input type="text"
                                                                     class="form-control"
                                                                     required name="value" readonly/>
                        </div>


                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Close
                            </button>
                            <button id="updateButton2" type="submit" class="btn btn-primary">
                                Update
                                changes
                            </button>
                        </div>
                    </form>
                </div>
                <!--  -->
            </div>
        </div>
        <!-- End Update Modal -->

    </div>

</div>
<!-- End Modal -->



<!-- /.container -->
<div class="container-fluid">

    <div class="row">
        <div class="col-xs-2 col-md-2"></div>
        <div class="col-xs-8 col-md-8">
            <h2>Devices & Components</h2>
            <p>Status of Devices </p>
            <!--<p>Contextual classes can be used to color table rows or table cells. The classes that can be used are: .active, .success, .info, .warning, and .danger.</p>-->
            <div><a id="refresh-1" href="notifications" role="button" class="btn"
               data-toggle="modal"><span class="glyphicon glyphicon-refresh"></span> Refresh</a> <p></div>

            <% devices.forEach(function(device){ %>
            <table class="table table-hover table-striped table-responsive">

                <thead>
                <tr class="info">
                    <th>Device ID</th>
                    <th>Name</th>
                    <!--<th>Component ID</th>-->
                    <th>Desc</th>
                    <!--<th>Action</th>-->
                    <th>Value</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>

                <tr id="device_id_<%= device.value %>" class="info">
                    <td>
                        <div id="device_mcID_<%= device.value %>d"><%= device.value %></div>
                    </td>
                    <td>
                        <div id="device_name_<%= device.value %>d"><%= device.name %></div>
                    </td>
                    <!--<td><div id="device_compId_<%= device.value %>d"><%= device.compId %></div></td>-->
                    <td class="col-md-1d">
                        <div id="device_compDesc_<%= device.value %>d"><%= device.desc %></div>
                    </td>
                    <!--<td><div id="device_action_<%= device.value %>d"></div><%= device.action %></td>-->
                    <td class="col-md-2">
                        <div id="device_compValue_<%= device.value %>d"> ...</div>
                    </td>
                    <td class="col-md-2">
                        <button id="discoComponents<%= device.value %>" onclick="clickButton(this.id)"
                                class="btn btn-default btn-sm"><span class="glyphicon glyphicon-refresh"></span>
                        </button>
                        <!--<button id="updateDevice_<%= device.value %>d" onclick="clickButton(this.id)"-->
                                <!--class="btn btn-default btn-sm"><span class="glyphicon glyphicon-pencil"></span></button>-->

                        <button id="updateDevice_<%= device.value %>d"
                                onclick="updateDevice('<%= device.value %>','', '<%= device.name %>','<%= device.desc %>','<%= device.action %>','<%= device.value %>')"
                                class="btn btn-default btn-sm"><span
                                    class="glyphicon glyphicon-pencil"></span></button>



                        <button id="deleteDevice_<%= device.value %>d" onclick="deleteDevice('<%= device.mcId %>')"
                                class="btn btn-default btn-sm"><span class="glyphicon glyphicon-trash"></span></button>
                    </td>

                </tr>


                <!--////////////////////////////////////////////////////////////////////////////////////////////////-->


                <tr id="device_comps_id_<%= device.value %>" class="info">

                    <td colspan="5">
                        <table class="table table-hover table-striped table-responsive">
                            <thead>

                            <tr class="active">
                                <!--<th>Dev#</th>-->
                                <th>Comp#</th>
                                <th>Name</th>

                                <th>Desc</th>
                                <!--<th>Action</th>-->
                                <th>Value</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>

                            <% components.forEach(function(component){ %>
                            <% if (component.mcId == device.value) { %>
                            <div id="device_id_c_<%= component.mcId %>">
                                <tr id="component_id_<%= component.mcId %>_<%= component.compId %>" class="">
                                    <!--<td>-->
                                        <!--<div id="device_mcID_<%= component.mcId %>_<%= component.compId %>c"><%= component.mcId %></div>-->
                                    <!--</td>-->
                                    <td>
                                        <div id="device_compId_<%= component.mcId %>_<%= component.compId %>c"><%= component.compId %></div>
                                    </td>
                                    <td>
                                        <div id="device_named_<%= component.mcId %>_<%= component.compId %>c"><%= component.name %></div>
                                    </td>
                                    <td class="col-md-1d">
                                        <div id="device_compDesc_<%= component.mcId %>_<%= component.compId %>c"><%= component.desc %></div>
                                    </td>
                                    <!--<td><div id="compAction_<%= component.mcId %>_<%= component.compId %>c"><%= component.action %></div></td>-->
                                    <td class="col-md-2">
                                        <div id="device_compValue_<%= component.mcId %>_<%= component.compId %>c"><%= component.value %></div>
                                    </td>
                                    <td class="col-md-2">
                                        <!--<button id="updateDevice_<%= component.mcId %>_<%= component.compId %>c"-->
                                                <!--onclick="clickButton(this.id)" class="btn btn-default btn-sm"><span-->
                                                    <!--class="glyphicon glyphicon-pencil"></span></button>-->

                                        <button id="updateComponent_<%= component.mcId %>_<%= component.compId %>c"
                                                onclick="updateComponent('<%= component.mcId %>', '<%= component.compId %>','<%= component.desc %>','<%= component.action %>','<%= component.value %>','<%= component.name %>','<%= component.visible %>','<%= component.category %>')"
                                                class="btn btn-default btn-sm"><span
                                                    class="glyphicon glyphicon-pencil"></span></button>



                                        <button id="deleteComponent_<%= component.mcId %>_<%= component.compId %>c"
                                                onclick="deleteComponent('<%= component.mcId %>','<%= component.compId %>')"
                                                class="btn btn-default btn-sm"><span
                                                    class="glyphicon glyphicon-trash"></span>
                                        </button>
                                    </td>
                                    <!--<td class="col-md-2"> <button id="discoComponents<%= component.value %>" onclick="clickButton(this.id)">COMPONENTS</button></td>-->

                                </tr>
                            </div>
                            <% } %>
                            <% }) %>


                            <tbody>
                        </table>
                    </td>

                </tr>

                <!--////////////////////////////////////////////////////////////////////////////////////////////////-->

                <% }) %>

                </tbody>
            </table>


        </div>
        <div class="col-xs-2 col-md-2"></div>
    </div>

</div>




<!--<div class="container-fluid">-->
<!--<h1><%= title %></h1>-->
<!--<p>Welcome to <%= title %></p>-->
<!--<h1>My First Bootstrap Page</h1>-->
<!--<p>This is some text.</p> -->
<!--</div>-->

<footer>
    <% include partials/footer %>
</footer>
</body>
</html>




<script>

    $('#refresh-1').click(function () {
        document.location.reload();
    });



    function updateDevice(mcId, compId, name, desc, action, value) {
        $('#modal-container-2').modal('show');
        $('#updateFormD').find('input[name="mcId"]').val(mcId);
        $('#updateFormD').find('input[name="compId"]').val(compId);
        $('#updateFormD').find('input[name="name"]').val(name);
        $('#updateFormD').find('input[name="desc"]').val(desc);
        $('#updateFormD').find('input[name="action"]').val(action);
        $('#updateFormD').find('input[name="value"]').val(value);


    }


    $('#updateButton').click(function () {
        // var updateItem = confirm ('Do you want to update record: ' + $('#updateFormD').find('input[name="name_short"]').val() + ' ?');
        var data1 = {
            mcId: $('#updateFormD').find('input[name="mcId"]').val(),
            compId:'' ,
            desc: $('#updateFormD').find('input[name="desc"]').val(),
            action: $('#updateFormD').find('input[name="action"]').val(),
            value: $('#updateFormD').find('input[name="value"]').val(),
            name: $('#updateFormD').find('input[name="name"]').val()

        };
        JSON.stringify(data1);


        $.ajax({
            url: '/api/v1.0/devices',
            dataType: "json",
            type: "post",
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(data1),
            async: true,
            processData: false,
            cache: false,
            success: function (data) {
//                $('#alertSuccess').show();
//                alert('SUCCESS'+data);

            },
            error: function (xhr, ajaxOptions, thrownError) {
//                alert(xhr.status);
//                alert(ajaxOptions);
//                alert(thrownError);
            }
        });
    });


    //////////////////////////////


    function updateComponent(mcId, compId, desc, action, value, name, visible, category) {
        $('#modal-container-3').modal('show');
        $('#updateFormC').find('input[name="mcId"]').val(mcId);
        $('#updateFormC').find('input[name="compId"]').val(compId);
        $('#updateFormC').find('input[name="name"]').val(name);
        $('#updateFormC').find('input[name="desc"]').val(desc);
        $('#updateFormC').find('input[name="action"]').val(action);
        $('#updateFormC').find('input[name="value"]').val(value);
//        $('#updateFormC').find('input[name="visible"]').val(action);
//        $('#updateFormC').find('input[name="category"]').val(value);
        $('#updateFormC').find('select[name^="visible"] option[value=' + visible + ']').prop("selected", true);
        $('#updateFormC').find('select[name^="category"] option[value=' + category + ']').prop("selected", true);

    }


    $('#updateButton2').click(function () {
        // var updateItem = confirm ('Do you want to update record: ' + $('#updateFormD').find('input[name="name_short"]').val() + ' ?');
        var data1 = {
            mcId: $('#updateFormC').find('input[name="mcId"]').val(),
            compId: $('#updateFormC').find('input[name="compId"]').val(),
            desc: $('#updateFormC').find('input[name="desc"]').val(),
            action: $('#updateFormC').find('input[name="action"]').val(),
            value: $('#updateFormC').find('input[name="value"]').val(),
            name: $('#updateFormC').find('input[name="name"]').val(),
            visible: $('#updateFormC').find('select[name="visible"]').val(),
            category: $('#updateFormC').find('select[name="category"]').val()


        };
//       alert( JSON.stringify(data1));


        $.ajax({
            url: '/api/v1.0/components',
            dataType: "json",
            type: "post",
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(data1),
            async: true,
            processData: false,
            cache: false,
            success: function (data) {
//                $('#alertSuccess').show();
//                alert('SUCCESS'+data);

            },
            error: function (xhr, ajaxOptions, thrownError) {
//                alert(xhr.status);
//                alert(ajaxOptions);
//                alert(thrownError);
            }
        });
    });





</script>
